nav {
	display: flex;
	padding: 0px 50px;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.6)
}

nav>div {
	font-size: 2rem;
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

nav>ul {
	margin: 0px;
}

nav>ul>li {
	list-style: none;
	display: inline-block;
	padding: 20px;
	cursor: pointer;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	transition: cubic-bezier(0.22, 0.61, 0.36, 1) 0.5s;
}

nav>ul>li:hover {
	border-bottom: 5px solid turquoise;
	color: rgba(0, 0, 0, 1)
}