.list {
	display: grid;
	margin: 50px auto;
	grid-template-columns: repeat(5, minmax(100px, 1fr));
	grid-auto-rows: minmax(200px, 200px);
}

.list>div {
	width: -webkit-fill-available;
}

.list>div:nth-child(even) {
	background: pink;
}

.listdiv:nth-child(odd) {
	background: aliceblue;
}